@model Web.Models.MemberChangePasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout_Indentity.cshtml";
    ViewBag.Title = "重設密碼";
}


@section jsFile{
    <!--sky form plugin js-->
    @*<script src="~/Scripts/lib/support/sweetalert.min.js" type="text/javascript"></script>*@
}
@section js{
    <script type="text/javascript">

    </script>
}
<div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-warning">
        <div class="card-header text-center">
            <img src="~/adminlte/img/CLogo.png" class="img-size-50 mr-3 img-circle" /> <a href="@Url.Action("Index", "Home")" class="h2"><b>Chicken Say Hi</b></a>
            <div>
                <a href='#' class="text-warning"><b>請您修改密碼</b></a>
            </div>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "sky-form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="input-group mb-3" style="margin-bottom:0">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = "readonly" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3" style="margin-bottom:0">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @readonly = "readonly" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "舊密碼" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                    <div class="input-group mb-3">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "新密碼" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    <div class="input-group mb-3">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "確認密碼" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    <footer class="text-right">
                        <p>@Html.ActionLink("返回首頁", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-block btn-outline-dark btn-lg" })</p>
                        <input type="submit" class="btn btn-block btn-outline-warning btn-lg" value="重設密碼">
                    </footer>
                }
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
